* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c1 {
    background-color: cornflowerblue;
}

.c2 {
    background-color: crimson;
}

.c3 {
    background-color: darkblue;
}

.c4 {
    background-color: darkmagenta;
}

.c5 {
    background-color: darkorange;
}



